:root {
    --md-admonition-icon--command: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M13.94 3.045a.75.75 0 0 0-1.38-.59l-4.5 10.5a.75.75 0 1 0 1.38.59l4.5-10.5ZM5 11.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"></path></svg>');
    --md-admonition-icon--integrated: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M4 8H2.5a1 1 0 0 0-1 1v5.25a.75.75 0 0 1-1.5 0V9a2.5 2.5 0 0 1 2.5-2.5H4V5.133a1.75 1.75 0 0 1 1.533-1.737l2.831-.353.76-.913c.332-.4.825-.63 1.344-.63h.782c.966 0 1.75.784 1.75 1.75V4h2.25a.75.75 0 0 1 0 1.5H13v4h2.25a.75.75 0 0 1 0 1.5H13v.75a1.75 1.75 0 0 1-1.75 1.75h-.782c-.519 0-1.012-.23-1.344-.63l-.761-.912-2.83-.354A1.75 1.75 0 0 1 4 9.867Zm6.276-4.91-.95 1.14a.753.753 0 0 1-.483.265l-3.124.39a.25.25 0 0 0-.219.248v4.734c0 .126.094.233.219.249l3.124.39a.752.752 0 0 1 .483.264l.95 1.14a.25.25 0 0 0 .192.09h.782a.25.25 0 0 0 .25-.25v-8.5a.25.25 0 0 0-.25-.25h-.782a.25.25 0 0 0-.192.09Z"></path></svg>');
    --md-admonition-icon--download: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M2.75 14A1.75 1.75 0 0 1 1 12.25v-2.5a.75.75 0 0 1 1.5 0v2.5c0 .138.112.25.25.25h10.5a.25.25 0 0 0 .25-.25v-2.5a.75.75 0 0 1 1.5 0v2.5A1.75 1.75 0 0 1 13.25 14Z"></path><path d="M7.25 7.689V2a.75.75 0 0 1 1.5 0v5.689l1.97-1.969a.749.749 0 1 1 1.06 1.06l-3.25 3.25a.749.749 0 0 1-1.06 0L4.22 6.78a.749.749 0 1 1 1.06-1.06l1.97 1.969Z"></path></svg>');
}

.md-header__button.md-logo img {
    height: 3rem;
}

.md-typeset .grid.cards.hide-list > ul > li > ul > li {
    list-style-type: none;
}

/***************************
 * Custom Admonition boxes *
 ***************************/

/* Command */
.md-typeset .admonition.command,
.md-typeset details.command {
  border-color: #00c853;
}
.md-typeset .command > .admonition-title,
.md-typeset .command > summary {
  background-color: #00c8531a;
}
.md-typeset .command > .admonition-title::before,
.md-typeset .command > summary::before {
  background-color: #00c853;
  -webkit-mask-image: var(--md-admonition-icon--command);
          mask-image: var(--md-admonition-icon--command);
}

/* Integrated (built-in) */
.md-typeset .admonition.integrated,
.md-typeset details.integrated {
  border-color: #9e9e9e;
}
.md-typeset .integrated > .admonition-title,
.md-typeset .integrated > summary {
  background-color: #9e9e9e1a;
}
.md-typeset .integrated > .admonition-title::before,
.md-typeset .integrated > summary::before {
  background-color: #9e9e9e;
  -webkit-mask-image: var(--md-admonition-icon--integrated);
          mask-image: var(--md-admonition-icon--integrated);
}

/* Download */
.md-typeset .admonition.download,
.md-typeset details.download {
    border-color: #00c853;
}
.md-typeset .download > .admonition-title,
.md-typeset .download > summary {
    background-color: #00c8531a;
}
.md-typeset .download > .admonition-title::before,
.md-typeset .download > summary::before {
    background-color: #00c853;
  -webkit-mask-image: var(--md-admonition-icon--download);
          mask-image: var(--md-admonition-icon--download);
}